@import url('https://fonts.googleapis.com/css?family=Heebo:500|Hind:600');
body {
    background: rgba(105, 79, 58, 0.288);
    font-family: 'Heebo', sans-serif;
}

label {
    padding: 3px;
}

.jumbotron {
    color: lightgray;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background: url(../extra/mrt.jpg);
    font-family: 'Hind', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

#panel-heading {
    background-color: rgb(76, 76, 182);
    color: lightgrey;
}

label{
    color:black;
    text-shadow: 0 2px white;
}

.form-group {
    background: url(../extra/Train.png);
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    background: rgb(132, 157, 209);
}

.button:active {
    background: grey;
}